body{
    background-color: hsl(225, 100%, 94%);
}
.general{
    text-align: center;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.svg{
    height: 20%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.music{
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    margin-left: 15px;
    display: flex;
    background-color: hsl(225, 100%, 98%);
}
.head{
    font-size: 14px;
    padding-left: 4px;
}
p{
    font-size: 12px;
    padding: 0 20px;
    color: hsl(224, 23%, 55%);
}
.p{
    font-size: 12px;
    color: hsl(224, 23%, 55%);
}
h1{
    font-size: 15px;
}
.payment {
    color: white;
    border: none;
    background-color: hsl(245, 75%, 52%);
    padding: 8px 40px;
    border-radius: 10px;
}
h1, b{
    color:  hsl(223, 47%, 23%);
}
.payment:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}
u:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    cursor: pointer;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}
.cancel{
    padding-bottom: 20px;
}
@media (min-width: 375px){
    body{
        background-image: url("images/pattern-background-desktop.svg");
    }
}
@media (max-width: 375px) {
    body{
        background-image: url("images/pattern-background-mobile.svg");
    }
}